.boxx {
    background-color: rgb(200,120,30);
    size: 20px;
    text-align: center;

}
.checkmark{
    /* background-color:green; */
    size: 10px;

}
.backgroundGrid{
    background-color: chartreuse;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(20px, 10px);
    background-color: black;
    width:50%;
    border:3px;
    padding:5px;
  }